@charset "utf-8";
* {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0;
	}
.container {
	max-width: 800px;
	min-width: 640px;
	background-color: #999;
	margin: 0 auto;
	border-width: 2px;
	border-style:solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #333;
	border-left-color: #333;
	}

.content {
	padding: 3 7px;
}
.mytd {
	background-color: #CCC;
	border: 1px solid #333;
}
.fieldborder {
	border: 1px solid #333;
}

.footer {
	padding:4px 12px;}